
@font-face {
    font-family: 'greatvibes';
    src: url('fonts/greatvibes.woff2') format('woff2'),
         url('fonts/greatvibes.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'lato';
    src: url('fonts/lato.woff2') format('woff2'),
         url('fonts/lato.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'metropolis';
    src: url('fonts/metropolis.woff2') format('woff2'),
         url('fonts/metropolis.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat';
    src: url('fonts/montserrat.woff2') format('woff2'),
         url('fonts/montserrat.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'opensans';
    src: url('fonts/opensans.woff2') format('woff2'),
         url('fonts/opensans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'oswald';
    src: url('fonts/oswald.woff2') format('woff2'),
         url('fonts/oswald.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
  margin: 0px;
  padding: 0px;

}

body {
  font-family: 'metropolis';
  color: #220A29;
  font-size: 14px;
}
.badge-primary {
    background-color: #afacac;
    color: #220a29;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'oswald';
    font-weight: bold;
    margin: 15px 0px 15px 0;
    color: #848484;
}
h5 {
    margin: 0px 0px 15px 0;
    font-size: 1.1em;
}
img.profile {
  width: 150px;
  margin-right: 20px;

}

section {
  padding: 5px ;
  color: #848484;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: white;
  width: 360px;
}
.container {
  background-color: pink;
  padding: 0px;
  margin-top:
}
