
* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'metropolis';
}
.container {
    background-color: #2b2f1d;
  	flex-direction: row;
  	flex-wrap: wrap;
  	justify-content: center;
  	align-items: center;
  	align-content: center;
}
.badge-primary {
    background-color: #F2E0F7;
    border: 1px solid  gray;
    color: #848484;
  }
  .habilidades {
    margin: 10px 0px 10px 0px;
  }
h1, h2, h3, h4, h5, h6 {
    font-family: 'oswald';
    font-weight: bold;
    margin: 15px 0px 15px 0;
    color: #848484;
}
h5 {

    margin: 0px 0px 15px 0;
    font-size: 1.1em;
}
img.profile {
    width: 150px;
    margin-right: 20px;
}

section {
    padding: 15px ;
    color: #848484;
    background-color: white;
    width: 360px;
}
a, a:hover {
    color: #848484;
    dis
    font-style: normal;
    text-decoration: none;
}
ul {
    margin: 10px;
}
a,
#proyectos li,
#formacion li,{
    margin-bottom: 2px;
}

a:hover,
#formacion li:hover,
#proyectos li:hover,
#formacion .btn-link:hover,
#formacion .btn-link:active,
#formacion .btn-link:focus,
.card-header:hover {
    background-color: #E6E0F8;
    color: #848484;
    text-decoration: none;

}
#formacion button {
    display: block;
    width: 100%;
    text-align: left;
}
#formacion li {
    font-size: 0.9em;
}
#formacion li::before {
    content: '-';
}
#habilidades li,
#habilidades a{
    display: block;
}
ul {
    list-style-type:  none;
}
.card-header {
    padding: 0px;
    margin-bottom: 0px;
    background-color: #fff;
    border-bottom: 0px;
}
.card-body {
    padding: 0px;
}
.btn-link {
    border: 0px;
    text-decoration: none;
    color: #848484;
    font-family: 'lato';

}
.btn-link:hover {
    text-decoration: none;

}
.anho {
  font-size: 0.6em;
}
